.log-in-tile {
  background-color: rgba(217, 202, 192, .75);
  border: 1px solid black;
  padding: 5px;
  /* position: absolute;
  margin-left: 30em; */
  /* margin-right: 3%; */
}

#login-text {
  color: rgb(111,115,229);
  font-size: 60px;
  text-shadow: 2px 2px white;
  font-family: 'Rammetto One', cursive;
  text-align: center;

}

.log-in-title {

}
