#new-meetup-title {
    margin-left: 56.5%;
    margin-right: 3%;
    color: rgb(111,115,229);
    font-family: 'Rammetto One', cursive;
    font-size: 60px;
    text-shadow: 4px 4px #0A1016;

}

#new-meetup {
  background-color: rgba(217, 202, 192, .65);
  left: 15em;

}

#new-meetup-all {
  position: relative;
}
