#new-meetup-title {
    text-align: center;
    color: rgb(111,115,229);
    font-family: 'Rammetto One', cursive;
    font-size: 60px;
    text-shadow: 2px 2px white;

}

#new-meetup {
  background-color: rgba(217, 202, 192, .85);
  position: sticky;
  border-radius: 20px;
}

/* #new-meetup-all {
  position: ;
} */

#new-meetup-error {
  font-family: 'Rammetto One', cursive;
  color: red;
  text-align: center;
}
