#new-meetup-title {
    text-align: center;
    color: rgb(111,115,229);
    font-family: 'Rammetto One', cursive;
    font-size: 60px;
    text-shadow: 2px 2px white;

}

#new-meetup {
  background-color: rgba(217, 202, 192, .85);
  position: sticky;
}

/* #new-meetup-all {
  position: ;
} */
