@import url('https://fonts.googleapis.com/css?family=Aladin');
@import url('https://fonts.googleapis.com/css?family=Aladin|Rammetto+One');

#new-dog-title {
    margin-left: 54.5%;
    margin-right: 3%;
    color: rgb(111,115,229);
    font-family: 'Rammetto One', cursive;
    font-size: 60px;
    text-shadow: 4px 4px #0A1016;
}

#new-dog {
  background-color: rgba(217, 202, 192, .65);
  position: absolute;
  left: 40em;
  /* margin-right: 3%;  */
}

#new-user-title {
  margin-left: 62.5%;
  margin-right: 3%;
  color: rgb(111,115,229);
  font-family: 'Rammetto One', cursive;
  font-size: 60px;
  text-shadow: 4px 4px #0A1016;

}

#field-text {
  font-family: 'Rammetto One', cursive;
  color: black;

}
