.profile-photo {
  height: 150px;
  width: 225px;
}

#user-page {
  margin: auto;
  border-radius: 8px;
  background-color: rgba(217, 202, 192, .65);
  max-width: 1300px;
}

#text {
  font-family: 'Rammetto One', cursive;
  color: rgb(111,115,229);
}

#text h5 {
  font-family: 'Rammetto One', cursive;
}

.outline {
  border: 2px solid black;
  padding: 1px
}

#dogs-show-tile {
  max-width: 39em;
  box-shadow:10px 10px 25px grey;
  border-radius: 8px;
  font-family: 'Rammetto One'
}

#user-tile {
  /* background-color: rgba(217, 202, 192, .65); */
  opacity: 50%;
  font-size: 1.5em;
  background-color: #F0EAD6;
  border-radius: 8px;

}

#dog-tile {
  max-width: 80em;
  border-radius: 8px;
}

#user-info-tile {
  max-width: 80em;
}

#your-dogs {
  text-align: center;
  font-family: 'Rammetto One';
  color: rgb(111,115,229);
  text-shadow: 1px 1px black;
  border-radius: 8px;
}

#your-info {
  font-family: 'Rammetto One';
  color: rgb(111,115,229);
  text-shadow: 1px 1px black;
  border-radius: 8px;
}
#your-info  li {
  font-family: 'Rammetto One';
  color: rgb(111,115,229);
  font-size: 20px;
  text-shadow: 1px 1px white;
}

#your-meetups {
  text-align: center;
  font-family: 'Rammetto One';
  color: rgb(111,115,229);
  border-radius: 8px;
}

#meetup-info {
  max-width: 80em;
}

#meetup-details {
  text-decoration: underline;
}

#meetup-tile {
  border-radius: 8px;
}
#error {
  color: red;
  margin-left:12em;
  text-align: center;
}

.user-page-links ul {
  padding: 0rem;

}
.user-page-links li {
  list-style-type: none;
  padding: 0rem;
  font-family: 'Rammetto One';
  color: red;
  margin-left: -1rem;


}
#links-text {
  font-family: 'Rammetto One';


}

#chat-window {
  overflow: scroll;
  max-height: 210px;
}



/* Demo purposes only */
